NODE_ENV="DEVELOPMENT"
PORT=5000

DATABASE_URL="postgresql://postgres:sunan@localhost:5432/set?schema=public"
        
EXPIRES_IN = "15m"

REFRESH_EXPIRES_IN = "7d"


RESET_LINK = "http://localhost:3000/reset-password"

EMAIL="sunanrabbi1918@gmail.com"
APP_PASS = "tvysqslueexlevru"

SALT_ROUND = "12"

CLOUD_NAME= dzegkjwjh
API_KEY= 132489346871181
API_SECRET= fVTd8TjXRG2PoXillSYraWuhqLs


SUPERADMINEMAIL= neuralbind@superadmin.com
SUPERADMINPHONE= 22556688000
SUPERADMINPASSWORD= 'ASD123!@#asd'
SUPERADMINIP= '####.****.####.****.####'


COOKIE_SECRET=UPJeuRTOdg+gyOB+wN6Dk2jGw0fblZRfK

MEILISEARCH_URL=https://ms-507405d31b42-29769.sgp.meilisearch.io
MEILISEARCH_APIKEY=1a8be65b3310e3b9454c56007691e2deeb07dbcc

BACKEND_URL=http://localhost:5000/